$def with(cities, hotels)
$:render.header()

        <div class="box">

            <div class="box todos">
            	$for city in hotels:
	            	<div>$city['city'], inns: $city['data']['innsTotal'], jje: $city['data']['jjeTotal']</div>
	            	$ innsOnlyStr = ','.join(city['data']['innsOnly'])
	            	$ jjeOnlyStr = ','.join(city['data']['jjeOnly'])
	                <ul>
	                	<li>innsonly : $innsOnlyStr</li>
	                	<li>jjeonly : $jjeOnlyStr</li>
	                </ul>
                
            </div>

        </div>

$:render.foot()
