$def with(dataDirs)
$:render.header()

        <div class="box">

            <div class="box todos">
                <ul>
                    $for dateDir in dataDirs:
                        <li>
                            $dateDir
                            <a href="/hotel/$dateDir">hotel</a>,
                            <a href="/price/$dateDir">price</a>,
                            <a href="/city/$dateDir">city</a>,
                        </li>
                </ul>
            </div>

        </div>

$:render.foot()
